h1{
    color: rgb(4, 141, 141);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 75px;
}
.wrap{
    width: 1000px;
}
.img{
    padding-left: 250px;
    display: flex;
}
.content{
    width: 450px;
    padding-left: 100px;
    line-height: 30px;
    word-spacing: 15px;
}
button{
    margin-left: 300px;
    cursor: pointer;
    border-color: transparent;
    padding: 15px;
    background-image: linear-gradient(turquoise,cornflowerblue,darkcyan);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
a{
    text-align: center;
    display: block;
    padding-bottom: 50px;
    
}

